@font-face {
    font-family: 'NextReg';
    src: url(../fonts/NEXT-ART_Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NextSemBold';
    src: url(../fonts/NEXT-ART_SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NextBold';
    src: url(../fonts/NEXT-ART_Bold.woff) format(woff);
    font-weight: 700;
    font-style: bold;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    background-color: #2A2A2A;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.nav__list {
    display: flex;
}
.nav__item {
    margin-right: 30px;
}
.nav__item:last-child {
    margin: 0;
}
.nav__link {
    font-family: 'Roboto';
    color: #fff;
}
.header .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title {
    font-family: 'NextBold';
    font-size: 72px;
}

/* about */
section.about {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    padding: 10% 0;
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}
.skills__item {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 47%);
    border-radius: 29px;
    margin: 0 30px 30px 0;
}
.skills__item:nth-child(4) {
    margin-right: 0;
}
.skills__img {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.me {
    background: url('../img/Ellips.png') no-repeat;
    background-size: contain;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.me__block {
    width: 456px;
    font-size: 20px;
    background-color: #2C2C2C;
    padding: 63px;
    border-radius: 14px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}
.me__pic {
    padding: 27px;
    border-radius: 15px;
    background: #2C2C2C;
}
.me__pic.first {
    position: absolute;
    top: 0;
    left: 0;
}
.me__pic.second {
    position: absolute;
    right: 0;
}
.me__pic.third {
    position: absolute;
    bottom: 0;
    left: 5%;
}

/* socials sprite */
ul.soc__list {
    display: flex;
    align-items: center;
}
.soc__item {
    margin-right: 10px;
}
.soc__item:last-child {
    margin-right: 0;
}
svg.soc__icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    transition: .3s;
}
svg.soc__icon:hover {
    fill: #00C4F0;
}

    /* adaptive */
