:root {
    --colorBg: #2a2a2a;
    --colorGrad: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    --mainFontSize: 16px;
    --fontSizeTablet: 10px;
}

@font-face {
    font-family: 'NextReg';
    src: url(../fonts/NEXT-ART_Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NextSemBold';
    src: url(../fonts/NEXT-ART_SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NextBold';
    src: url(../fonts/NEXT-ART_Bold.woff) format(woff);
    font-weight: 700;
    font-style: bold;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: var(--mainFontSize);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    background-color: var(--colorBg);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
.header .container .nav__list {
    display: flex;
}
.header .container .nav__item {
    margin-right: 30px;
}
.nav__item:last-child {
    margin: 0;
}
.nav__link {
    font-family: 'Roboto';
    color: #fff;
}
.header .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title {
    font-family: 'NextBold';
    font-size: 72px;
}

/* about */
section.about {
    background: var(--colorGrad);
    padding: 10% 0;
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}
.skills__item {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBg);
    box-shadow: 0px 4px 6px rgb(0 0 0 / 47%);
    border-radius: 29px;
    margin: 0 30px 30px 0;
}
.skills__item:nth-child(4) {
    margin-right: 0;
}
.skills__img {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.me {
    background: url('../img/Ellips.png') no-repeat;
    background-size: contain;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.me__block {
    width: 456px;
    font-size: 20px;
    background-color: #2C2C2C;
    padding: 63px;
    border-radius: 14px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}
.me__pic {
    padding: 27px;
    border-radius: 15px;
    background: #2C2C2C;
}
.me__pic.first {
    position: absolute;
    top: 0;
    left: 0;
}
.me__pic.second {
    position: absolute;
    right: 0;
}
.me__pic.third {
    position: absolute;
    bottom: 0;
    left: 5%;
}

/* portfolio */
.portfolio {
    padding: 5% 0 8% 0;
}
.portfolio__cont {
    text-align: center;
}
.portfolio__work {
    display: flex;
    padding: 50px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    box-shadow: 0px 4px 15px rgb(27 27 27 / 28%);
    border-radius: 29px;
}
.portfolio__img {
    margin-right: 80px;
}
.portfolio__title {
    font-family: 'Arodora Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.portfolio__text {
    font-size: 18px;
    margin-bottom: 25px;
}
a.portfolio__btn {
    color: #E2A100;
    font-size: 18px;
}
a.portfolio__btn:after {
    content: url(../img/arrow.png);
    width: 13px;
    height: 8px;
    margin-left: 7px;
}
/* footer */
.footer{
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    padding: 3% 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .nav__item {
    margin-bottom: 5px;
}
.footer .container .nav__item:last-child {
    margin-bottom: 0;
}
/* socials sprite */
ul.soc__list {
    display: flex;
    align-items: center;
}
.soc__item {
    margin-right: 10px;
}
.soc__item:last-child {
    margin-right: 0;
}
svg.soc__icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    transition: .3s;
}
svg.soc__icon:hover {
    fill: #00C4F0;
}

    /* adaptive */
@media screen and (max-width:768px) {
    :root {
        --mainFontSize: 10px;
    }
}