.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-right: 30px;
        &:last-child {
            margin: 0;
        }
    }
    .nav__link {
        font-family: 'Roboto';
        color: #fff;
    }
}
a.download {
    padding: 10px 20px;
    color: #000;
    background: orange;
    border-radius: 25px;
    font-weight: 700;
    transition: .5s;
    &:hover {
        background: #fff;
        color: #000;
        transform: scale(1.2) rotate(10deg);
    }
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title {
    font-family: 'NextBold';
    font-size: 72px;
}