.portfolio {
    padding: 5% 0 8% 0;
}
.portfolio__cont {
    text-align: center;
}
.portfolio__work {
    display: flex;
    padding: 50px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    box-shadow: 0px 4px 15px rgb(27 27 27 / 28%);
    border-radius: 29px;
}
.portfolio__img {
    margin-right: 80px;
}
.portfolio__title {
    font-family: 'Arodora Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.portfolio__text {
    font-size: 18px;
    margin-bottom: 25px;
}
a.portfolio__btn {
    color: #E2A100;
    font-size: 18px;
}
a.portfolio__btn:after {
    content: url(../img/arrow.png);
    width: 13px;
    height: 8px;
    margin-left: 7px;
}
/* footer */
.footer{
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    padding: 3% 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .nav__item {
    margin-bottom: 5px;
}
.footer .container .nav__item:last-child {
    margin-bottom: 0;
}
/* socials sprite */
ul.soc__list {
    display: flex;
    align-items: center;
}
.soc__item {
    margin-right: 10px;
}
.soc__item:last-child {
    margin-right: 0;
}
svg.soc__icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    transition: .3s;
}
svg.soc__icon:hover {
    fill: #00C4F0;
}